.card__heroe{
    position: relative;
    width: 30em;
    height: 30em;
    background-color: rgba(0, 0, 0, 0.7);
    color: white ;
    margin-left: 6em;
}
.card__heroe-contain{
    position: absolute;
    margin: 20px 60px 20px 20px;
    height: 80%;
    span{
        font-size: 12px;
        font-weight: 300;
    }
    h2{
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    a{
        color: #fff;
        font-size: 12px;
        font-weight: 300;
    }
    .decition{
        position: absolute;
        bottom: 0;
    }
}
.card__heroe-buttons{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    .btn{
        border: none;
        color: #fff;
        cursor: pointer;
    }
    .btn-like{
        background-color: #00b6a4;
    }
    .btn-like:hover{
        background-color: #00463f
    }
    .btn-dislike{
        background-color: #f09c00;
    }
    .btn-dislike:hover{
        background-color: #b57600
    }
}
.disabled{
    display: none;
}

.back-button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 15px;
    cursor: pointer;
}