<div class="card__heroe">
    <div class="card__heroe-contain">
        <span>Dinos tu opinión sobre</span>
        <h2>{{DataHeroeService.heroeData.name}}?</h2>
        <p>{{DataHeroeService.heroeData.description}}</p>
        <a href="#">Más información</a>
        <p>likes {{DataHeroeService.heroeData.likes}}</p>
            <p>Dislikes {{DataHeroeService.heroeData.dislikes}}</p>
        <p class="decition">¿Cuál es tu Voto?</p>
    </div>
    <div class="card__heroe-buttons">
        <button (click)="onLike()" class="btn btn-like" >Like</button>
        <button (click)="onDislike()" class="btn btn-dislike">Dislike</button>
    </div>
</div>