.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 0 60px;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    }
}
.navbar__icon{
    width: 200px;
}